@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.25rem;
	line-height: 2rem;
	color: #333;
}

body {
	margin: 0;
	padding: 0;
}

a {
	color: #17c0eb;
	transition: 0.2s;
}

a:hover {
	color: #14a7cc;
}

header {
	text-align: center;
	padding: 1em;
}

footer {
	padding: 1em;
	color: #777;
}

.right {
	text-align: right;
}

.hidden {
	display: none;
}

td {
	line-height: 72px;
}

.add-to-cart {
	margin-top: -8px;
}

.quantity-input {
	margin-top: 12px;
}

.table-thumbnail {
	width: 64px;
	height: 64px;
	object-fit: cover;
}