@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.25rem;
	line-height: 2rem;
	color: #333;
}

body {
	margin: 0;
	padding: 0;
}

a {
	color: #17c0eb;
	transition: 0.2s;
}

a:hover {
	color: #14a7cc;
}

header {
	display: grid !important;
	grid-template-columns: 1fr 1fr;
	background: #7efff5;
	padding: 1em;
}

.secondary {
	color: #777 !important;
	font-style: italic;
}

.site-info {
	grid-column: 1 / 2;
}

.site-nav {
	align-self: center;
	justify-self: right;
	grid-column: 2 / 3;
}

main {
	padding: 1em;
}

footer {
	padding: 1em;
	color: #777;
}

.right {
	text-align: right;
}

.hidden {
	display: none;
}

td {
	line-height: 72px;
}

.add-to-cart {
	margin-top: -8px;
}

.quantity-input {
	margin-top: 12px;
}

.table-thumbnail {
	width: 64px;
	height: 64px;
	object-fit: cover;
}

.items {
	margin: 2em 0;
}

.cart {
	padding: 1em 1em 0 1em;
	background: #f2f2f2;
	border-radius: 16px;
	margin: 1em 0;
}

.login-form {
	width: 800px;
	margin: auto;
}

.spacer {
	display: block;
	width: 100%;
	height: 10px;
}

#forgotPassword {
	text-align: center;
}


/* Spinner sourced from https://loading.io/css/ */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}